<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Efectos</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="/static/css/slider.css">
    <script src="https://use.fontawesome.com/502b7294a9.js"></script>
    <link rel="stylesheet" href="/static/css/redes.css">
    <title>
        
        {% block titulo %}
            
        {% endblock titulo %}
            
    </title>

</head>

<body>

    <header>
        <!-- aquí comienza nuestro menu -->
        <div class="ancho">
            <div class="logo">
                <p><a href="index.html">Travel Agency</a></p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="particles-js"></div>


    <div class="container">
        
        {% block contenido %}
            
        {% endblock contenido %}
            
    </div>

    <script src="/static/js/particles.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</body>

</html>