{% extends 'base.html' %}


{% block titulo %}


{% endblock titulo %}


{% block contenido %}
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Travel Agency!</div>
            <div class="intro-heading text-uppercase">Travel sweet, Repeat.</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="lista_planes">Tell Me More</a>
        </div>
    </div>
</header>
{% endblock contenido %}