{% extends "administrador.html" %}
{% block titulo %}

{% endblock titulo %}
{% block contenido %}
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Lista de vuelos</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">id Vuelo</th>
                        <th scope="col">Pais de origen</th>
                        <th scope="col">Pais de destino </th>
                        <th scope="col">Ciudad de origen</th>
                        <th scope="col">Ciudad de destino </th>
                        <th scope="col">Puerta/Entrada </th>
                        <th scope="col">Grupo </th>
                        <th scope="col">Silla </th>
                        <th scope="col">Fecha </th>
                        <th scope="col">Hora </th>

                    </tr>
                </thead>
                <tbody>

                    {% for x in listaVuelos %}
                    <tr>
                        <td> {{x.id}}</td>
                        <td> {{x.paisorigen}} </td>
                        <td> {{x.paisdestino}} </td>
                        <td> {{x.ciudadorigen}} </td>
                        <td> {{x.ciudaddestino}} </td>
                        <td> {{x.gate}} </td>
                        <td> {{x.group}} </td>
                        <td> {{x.seat}} </td>
                        <td> {{x.fecha}} </td>
                        <td> {{x.hora}} </td>
                        <td>
                            <a href="{% url 'ver_plan' id_plan=x.id %}">
                                <div class="fas fa-search"></div>
                            </a>

                            <a href="">
                                <div class="fas fa-edit"></div>
                            </a>
                            <a href="">
                                <div class="fas fa-trash"></div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
<!--     <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
</div>
{% endblock contenido %}